In [1]:
import pandas as pd
pd.set_option("display.max_colwidth", None)

In [2]:
import re
import string

In [3]:
df = pd.read_csv("datasets/covid_cleaning.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32308 entries, 0 to 32307
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  32308 non-null  object
dtypes: object(1)
memory usage: 252.5+ KB

In [5]:
# check if it has duplicated value
df.tweets.duplicated().sum()

0

# Remove whitespace start and end

In [6]:
df['tweets'] = df['tweets'].str.strip()

# Remove whitespace that in the middle of the text

In [8]:
df['tweets'] = df['tweets'].str.replace(r'\s+', ' ')

C:\Users\asus\AppData\Local\Temp\ipykernel_648\1933848702.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['tweets'] = df['tweets'].str.replace(r'\s+', ' ')

In [9]:
df.head()

                                                                          tweets
0  china hapus wajib karantina bagi pelancong asing di saat kasus covid melonjak
1                  covid kembali merebak di china pencabutan ppkm perlu hatihati
2             sebaran konfirmasi positif covid di indonesia provinsi nihil kasus
3             update covid per senin desember positif orang sembuh dan meninggal
4                                 positif covid di ri tambah pasien sembuh orang

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32308 entries, 0 to 32307
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  32308 non-null  object
dtypes: object(1)
memory usage: 252.5+ KB

In [12]:
#df.to_csv("datasets/3covid_cleaning.csv", encoding="utf-8", index=False)