In [1]:
import pandas as pd
pd.set_option("display.max_colwidth", None)

In [2]:
import re
import string

In [3]:
df = pd.read_csv("datasets/covid_preprocessing.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36615 entries, 0 to 36614
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  36615 non-null  object
dtypes: object(1)
memory usage: 286.2+ KB

In [5]:
# check if it has duplicated value
df.tweets.duplicated().sum()

4307

In [6]:
duplicates = df[df.duplicated()]

In [13]:
duplicates.head(100).tail(5)

                                                                                                                                                       tweets
1123                                                                                              penambahan itu berdasarkan pemeriksaan terhadap  spesimen
1134  foto satelit yang diambil di sejumlah kota di china menangkap momen kerumunan orang di krematorium dan rumah duka kala terjadi badai covid yang parah
1135         apa itu covid kraken pasalnya subvarian omicron ini belakangan jadi sorotan dunia lantaran sangat menular dan berpotensi memicu gelombang baru
1136                   varian kraken belakangan muncul dan memicu kekhawatiran di masyarakat lantaran menjadi varian paling menular mengapa dijuluki kraken
1137             varian covid kraken atau varian xbb kembali membuat dunia khawatir melihat ini who kembali menganjurkan pemakaian masker dalam kondisi ini

In [8]:
df.drop_duplicates(subset='tweets', inplace=True)

In [9]:
# check if it has duplicated value
df.tweets.duplicated().sum()

0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32308 entries, 0 to 36613
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  32308 non-null  object
dtypes: object(1)
memory usage: 504.8+ KB

In [11]:
#df.to_csv("datasets/covid_cleaning.csv", encoding="utf-8", index=False)