In [1]:
import pandas as pd
pd.set_option("display.max_colwidth", None)

In [2]:
import re
import string

In [3]:
df = pd.read_csv("../dataset/cleaned_covid.csv")

# Duplicated tweets but i think its important tweet are commented with \#

In [5]:
# # check if it has duplicated value
#df.tweets.duplicated().sum()

4329

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36711 entries, 0 to 36710
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  36711 non-null  object
dtypes: object(1)
memory usage: 286.9+ KB

In [7]:
#duplicates = df[df.duplicated(subset='tweets')]
#duplicates.head(10)

                                                                                                               tweets
11                                                           jadwal dan lokasi vaksin covid surabaya hari ini  mei
23                                                         jadwal dan lokasi vaksin covid surabaya hari ini  mei
24                                                           jadwal dan lokasi vaksin covid surabaya hari ini  mei
25     berikut ini jumlah kasus covid hingga hari ini untuk provinsi aceh sumut sumbar riau kepri jambi dan bengkulu
38                                                         jadwal dan lokasi vaksin covid surabaya hari ini  mei
39                                                           jadwal dan lokasi vaksin covid surabaya hari ini  mei
41     berikut ini jumlah kasus covid hingga hari ini untuk provinsi aceh sumut sumbar riau kepri jambi dan bengkulu
49                               kasus positif covid di indonesia bertambah sebanyak  pada hari ini minggu
57       indonesia mencatat sebanyak  kasus baru covid minggu  dki jakarta menyumbang kasus terbanyak dengan jumlah
58  kasus covid di indonesia pada minggu  bertambah  kasus baru sementara kasus sembuh bertambah  dan kematian  jiwa

In [8]:
#df.drop_duplicates(subset='tweets', inplace=True)

In [9]:
#df.tweets.duplicated().sum()

0

# Remove whitespace at start and end of the text

In [5]:
df['tweets'] = df['tweets'].str.strip()

# Remove whitespace in the middle of the text

In [6]:
df['tweets'] = df['tweets'].str.replace(r'\s+', ' ')

C:\Users\asus\AppData\Local\Temp\ipykernel_11876\1933848702.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['tweets'] = df['tweets'].str.replace(r'\s+', ' ')

In [7]:
df.head()

                                                                                     tweets
0               belum ada bukti gambar yang diklaim pembekuan darah setelah vaksinasi covid
1  keliru klaim vaksin covid berbasis mrna dan adenoviral menurunkan sistem kekebalan tubuh
2                              kemenkes minta penonton konser coldplay booster vaksin covid
3                                      jadwal dan lokasi vaksin covid surabaya hari ini mei
4                                      jadwal dan lokasi vaksin covid surabaya hari ini mei

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36711 entries, 0 to 36710
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  36711 non-null  object
dtypes: object(1)
memory usage: 286.9+ KB

In [9]:
#df.to_csv("../dataset/dup_cleaned_covid.csv", encoding="utf-8", index=False)